.container {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.container h2 {
    font-size: 36px;
}

.container p {
    font-size: 24px;
}

@media screen and (max-width: 720px) {
    .container {
        display: block;
    }
}