:root {
  --cor-de-fundo: #000000;
  --cor-de-fundo-card: rgb(232, 232, 232);
  --branco: #FFFFFF;
  --fonte-principal: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--fonte-principal);
  font-size: 18px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 2em 20em;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 1440px) {
  main {
    margin: 1em;
    text-align: center;
  }
}